 *{
     margin: 0;
 }

 header{
     display: flex;
     justify-content: space-between;
     background-color: #2C3E50;
     color: #ffffff;
     padding: 20px;
    
 }
 li{
     margin: auto;
 }
.navSpace{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}
 .container{
    display: flex;
    width: 100vw;
    height: 100vh;
 
} 
i{
    font-size: 2em;
}
 
.navbarbg{
    background-color: #2C3E50;
    color: #ffffff;
    font-weight: 700;
    flex-direction: row;
    padding: 1rem;
    text-align: justify;
}

.container > .navbarbg{
    flex: 1;
}

.navbarbg a{
    text-decoration: none;
    color: #ffffff;
}
.menuSecundario a:hover{
    color:#18BC9C;
}

li{
    list-style: none;
    display: inline;
}
#menuInicial{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 60px; 

}
 .menuSecundario{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    flex-grow: 1;
    flex-basis: auto;
    
}

body{
    font-family: 'Lato', sans-serif;  
}

#sectionAbout, #sectionPortfolio, #sectionContact, #foot{
    padding: 5%;
    text-align: center;
}

#sectionPortfolio, #sectionContact{
    color:#2C3E50;
}

#welcome{
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    align-content: center;
    background-color:#18BC9C;
    color: #ffffff;
    text-align: center;
}

h1{
    font-size: 3rem;
    line-height: 3rem;
}
h2{
    font-size: 2.25rem;
    line-height: 2rem;
}
h1, h2{
    justify-content: center;
}
img{
    height: auto;
    width:25vw;
}
#images{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#sectionAbout{
    
    flex-direction: column;
    background-color:#18BC9C;
    color: #ffffff;
    
}
form{
    display: block;
    margin-top: 0em;
    font-family: 'Lato', sans-serif;  
    font-size: 30px;
    font-weight: 400;
}
.form-field{
    height: 40%;
    width: 60%;
    padding: 2%;
    border: none;
    border-bottom: 1px solid #2C3E50;
    
}
#formContact{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#centerform{
    display: flex;
    justify-content: center;
}
#centeBtn{
    justify-content: center;
}
#btnSend{
    background-color: #18BC9C;
    font-family: 'Lato', sans-serif;  
    font-weight: bold;
    text-align: center;
    height: 50%;
    width: 10%;
    padding: 15px 15px 10px;
}
::-webkit-input-placeholder{
     color:#4C4
      
}
textarea:-moz-placeholder {
     color:#4C4
     
}
#foot{
    display: flex;
    color: #ffffff;
    background-color: #2C3E50;
    padding: 5%;
    text-align: center;
    justify-content: space-evenly;
}
#foot a{
    color:#18BC9C;
}
input, textarea, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
#copyrightYa{
    background-color: #1A252F;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}


 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url('https://fonts.googleapis.com/css?family=Lato');