
 .container{
    display: flex;
    width: 100vw;
    height: 100vh;
    
} 
 
.navbarbg{
    background-color: #2C3E50;
    color: #ffffff;
    font-weight: bold;
}

.navbarbg a{
    text-decoration: none;
    color: #ffffff;
}
.navbarbg a:hover{
    color:#18BC9C;
}

li{
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;  
}

#menuInicial{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 60px;
    
}
 .menuSecundario{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    
}
#welcome{
   
    align-items: center;
    background-color:#18BC9C;
    color: #ffffff;
}

h1{
    size: 95px;
    line-height: 80px;
}
img{
    height: auto;
    width:25vw;
}
#images{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#foot{
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #2C3E50;
}
#foot a{
    color:#18BC9C;
}
#copyrightYa{
    background-color: #1A252F;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    
}


 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url('https://fonts.googleapis.com/css?family=Lato');